.heading{
    font-family:'Poppins';
    font-weight:600;
    font-size:3rem;
    line-height:4.5rem;
    color:#1B3C74;
    margin-top:2rem;
}
.docimage{
    height:auto;
    width:20rem;
    padding-top: 2rem;
    padding-left: 10px;
    padding-right: 1.2rem;
    border:10px solid white;
    border-top-right-radius: 10rem;
    border-top-left-radius: 10rem;
    box-shadow: 0px 15px 55px -10px #00000017;

    background: linear-gradient(144.2deg, #E1F3FF 0%, #2AA7FF 100%);
}
.doccontainer{
    display: none;
    flex-direction: column;
   align-items: center;
   /* text-align:center; */
}
.doctorname{
    font-family:Poppins;
    font-size:1.5rem;
    line-height:3rem;
    font-weight:400;
    text-align:center;
    color:#1B3C74;
}
.role{
    color:#2AA7FF;
    font-weight:500;
    line-height:1.5rem;
    font-size:1rem;
}