.container{
    display: flex;
    align-items: flex-start;
    padding: 3rem 8rem 3rem 8rem;
   justify-content: space-between;
    align-items: center;

    align-content: flex-start;
}
@media(max-width:767px)
{
    .container{
    flex-direction: column;
    }
    

}